.emoji {
    background-color: rgb(214, 230, 217);
    width: 4rem;
    height: 4rem;
    margin: 2rem; 
  }

  
  .emoji:hover {
  transition: 0.4s;
  background-color: orange;
    transform: scale(1.1); 
  }
  
  .emoji:active{
  background-color: rgb(171, 109, 184);
  transform: scale(0.8);
  }