#ProjectList {
    text-align: right;
    color: white;
    overflow: auto;
    height: 75vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
}

.ProjectTitle{
    color: orangered;
    font-size: 20px;
    font-weight: bold;
    margin: 0%;
    padding: 0%;
    
}

#ProjectList::-webkit-scrollbar { 
    display: none;
}

.Project{
    margin-bottom: 2rem;
    margin-inline-end: 2rem;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.Project:hover{
    transition: 100ms;
    margin-inline-end: 3rem;
    font-weight: bold;
    transform: scale(1.1);
}

.createProjectButton{
    margin: 1rem 1rem .2rem 1rem;
    display: block;
    float: inline-end;
    width: fit-content;
}


@media only screen and (max-width:1000px){

    .buttonParentDiv{
        display: flex;
    }

    .createProjectButton{
        flex-direction: row;
        float: none;
        width: max-content;
    }
    
    #ProjectList {
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
        -ms-overflow-style: initial;
        text-align: center;
        color: white;
        height: 100%;
        position: relative;
        margin-inline: 1rem;


        scrollbar-color: rgb(24, 24, 24) orangered;
        scrollbar-width: thin;
        -ms-overflow-style: none;
    }

    .Project{
        display:inline-block;
        margin: 1rem;
        margin-top: 1.5rem;
        
        position: relative;
    }

    .Project:hover{
        margin-inline-end: 1rem;
    }
   
}
